---
layout: default
title: Properties
menu: Properties
description: 'We develop authentic neighborhood spots. We create small retail shops that are good for first-time entrepreneurs who want to lower startup costs while mitigating risks. We mix multiple retail offerings with residential homes and office suites to create a sense of safety, exploration and delight for neighbors, visitors and business owners. Our properties blend historic renovations with new architecture in a way that engages with the sidewalk and creates a lively flow among indoor, outdoor, private and public places.'
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          {% if page.title %}
            <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="container">
  <div class="row animate">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

{% include section-subscribe.html %}
