---
layout: default
title: Properties
menu: Properties
description: 'We develop small neighborhood buildings and unique mixed-use environments. Small retail spaces are good for first-time entrepreneurs who want to lower their startup costs while mitigating risks. Mixing diverse retail spaces with residential homes and office suites creates a sense of safety, exploration and delight for neighbors, visitors and business owners. Our properties blend historic renovations with new architecture in an authentic way that engages with the sidewalk and enhances the flow among indoor, outdoor, private and public spaces.'
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          {% if page.title %}
            <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="container">
  <div class="row animate">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

{% include section-subscribe.html %}
